*{
  margin: 0;
  padding: 0;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(191, 155, 155);
  display: flex;
  text-align: center;
  justify-content: center;
}

.hereAvatar{
  padding-top: 35%;
  opacity: 0.7;
}

.ava{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
  bottom: 25px;
}

.photo{
  width: 300px;
  height: 300px;
  margin-left: 40px;
  cursor: pointer;
}

.photos{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo:hover{
  width: 300px;
  height: 300px;
  margin-left: 40px;
  cursor: pointer;
  scale: 1.01;
}

.contain-image{
  position: relative;
  width: 80vw;
  margin-left: 180px;
  bottom: 30px;
  height: 500px;
  background-color: rgba(182, 151, 192, 0.3);
  border-radius: 30px;
}

.bigImg{
  width: 900px;
  height: 500px;
  border-radius: 30px 0px 0px 0px;
}

.back-to-photos{
  top: -15px;
  position: absolute;
  right: -15px;
  cursor: pointer;
}

.delete{
  position: absolute;
  left: 940px;
  bottom: 20px;
  cursor: pointer;
}

.custom-file-upload{
  cursor: pointer;
}

.heart-not-like {
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart-not-like::before,
.heart-not-like::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  border-radius: 50%; 
}

.heart-not-like::before {
  top: -25px; 
  left: 0;
}

.heart-not-like::after {
  left: 25px; 
  top: 0;
}

.heart-not-like:hover{
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  transform: rotate(-45deg);
  cursor: pointer;
  scale: 1.05;
}

.heart{
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(227, 33, 33);
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(227, 33, 33);
  border-radius: 50%; 
}

.heart::before {
  top: -25px; 
  left: 0;
}

.heart::after {
  left: 25px; 
  top: 0;
}

.likes{
  position: absolute;
  left: 1050px;
  bottom: 435px;
}

.comment{
  position: absolute;
  left: 920px;
  bottom: 300px;
  height: 100px;
}

.comment-style{
  margin-top: 10px;
}

.comments-style{
  padding-left: 20px;
  padding-top: 15px;
}

.comments{
  height: 300px;
  overflow-y: auto;
  width: 250px;
}

.delete-comment{
  cursor: pointer;
  position: relative;
}

.favorites-btn{
  position: absolute;
  right: 20px;
  top: 5px;
}

.add-favorites{
  position: relative;
}

.favorite{
  height: 300px;
  width: 300px;
  margin-left: 10px;
}

.favorites{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.delete-from-favorites{
  position: relative;
  left: 70px;
  cursor: pointer;
}

.light-topic{
  background-color: white;
  height: 100vh;
}
.dark-topic{
  background-color: rgb(46, 39, 39);
  height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 1450px;
  top: 30px;
}

.switch input {
  opacity: 0; 
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s; 
  border-radius: 34px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; 
}


input:checked + .slider {
  background-color: #2196F3; 
}

input:checked + .slider:before {
  transform: translateX(26px); 
}

.exitBtn{
  position: absolute;
  right: 200px;
  top: 5px;
}


