.avatar{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(191, 155, 155);
  display: flex;
  text-align: center;
  justify-content: center;
}

.hereAvatar{
  padding-top: 35%;
  opacity: 0.7;
}

.ava{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.photo{
  width: 300px;
  height: 300px;
  margin-left: 40px;
  cursor: pointer;
}

.photos{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo:hover{
  width: 300px;
  height: 300px;
  margin-left: 40px;
  cursor: pointer;
  scale: 1.01;
}

.contain-image{
  width: 80vw;
  margin-left: 150px;
  height: 530px;
  background-color: rgba(182, 151, 192, 0.3);
  border-radius: 30px;
}

.bigImg{
  width: 900px;
  height: 530px;
  border-radius: 30px 0px 0px 0px;
}

.back-to-photos{
  position: absolute;
  top: 200px;
  left: 80px;
  cursor: pointer;
}

.delete{
  position: absolute;
  left: 1100px;
  bottom: 20px;
  cursor: pointer;
}

.heart-not-like {
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart-not-like::before,
.heart-not-like::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  border-radius: 50%; 
}

.heart-not-like::before {
  top: -25px; 
  left: 0;
}

.heart-not-like::after {
  left: 25px; 
  top: 0;
}

.heart-not-like:hover{
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 178, 178);
  transform: rotate(-45deg);
  cursor: pointer;
  scale: 1.05;
}

.heart{
  position: relative;
  left: 950px;
  bottom: 480px;
  width: 50px;
  height: 50px;
  background-color: rgb(227, 33, 33);
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(227, 33, 33);
  border-radius: 50%; 
}

.heart::before {
  top: -25px; 
  left: 0;
}

.heart::after {
  left: 25px; 
  top: 0;
}

.likes{
  position: absolute;
  left: 1200px;
  bottom: 420px;
}

.comment{
  position: absolute;
  left: 1070px;
  bottom: 300px;
  height: 100px;
}

.comments{
  height: 300px;
  overflow-y: auto;
  width: 250px;
}

.delete-comment{
  cursor: pointer;
}

.favourites{
  position: absolute;
  right: 20px;
  top: 5px;
}

.add-favorites{
  position: relative;
  bottom: 10px;
}


