.avatar{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(191, 155, 155);
  display: flex;
  text-align: center;
  justify-content: center;
}

.hereAvatar{
  padding-top: 35%;
  opacity: 0.7;
}

.ava{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}